body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.clock-container {
    text-align: center;
    border: 5px solid #61dafb;
    border-radius: 10px;
    padding: 20px;
    background-color: #20232a;
}

.clock {
    font-size: 4rem;
}
